<style>
    footer{
        width: 100%;
        min-height: 10vh;
        background-color: rgba(4, 71, 160, 0.87);
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.418);
        padding: 0.2rem;
    }
    footer p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
    }
</style>
<footer>
    <p>This web application is developed and designed by <br> <span style="color: rgba(190, 189, 189, 0.616);" >Satyanarayan Dalei</span></p>
</footer>